* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #1f2c38;
}

header {
    background-color: #0e131b;
    text-align: center;
    padding: 13px 0;
}

header h1 {
    font-size: 4rem;
    color: #93ffa1;
}

header p {
    font-size: 2rem;
    color: #1f2c38;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;
}


/* contenedor de descuento*/

.container {
    width: 300px;
    min-width: 320px;
    height: auto;
    border: 2px solid #93ffa1;
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
}

.container__image {
    width: 80px;
    margin: 20px 0;
}

.container__title {
    font-size: 1.8rem;
    color: #599876;
    margin-bottom: 18px;
}

.container__inputs {
    display: flex;
    flex-direction: column;
}

.container__inputs label {
    font-size: 1.5rem;
    color: #599876;
    padding-bottom: 5px;
}

.container__input {
    margin: 0 auto 10px;
    height: 30px;
    width: 270px;
    text-align: center;
    font-size: 15px;
    cursor: text;
    outline: none;
    border-radius: 6px;
    /*background-color: transparent;*/
    border: 2px solid #599876;
}

.container__inputs {

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}


/* boton */
.container__inputs button {
    cursor: pointer;
    margin: 22px auto 10px;
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    color: #93ffa1;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #599876;
    width: 200px;
    height: 35px;
}


.container__inputs button:hover {
    background-color: #050a11;
}

.container__inputs p {
    font-size: 1.8rem;
    margin: 10px auto;
    color: #599876;
}


/* input cupon */

.coupon {
    display: flex;
    margin: 5px auto 0;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.coupon .couponInput {
    width: 110px;
    outline: none;
    border: 2px solid #599876;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
}