* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #1f2c38;
}

header {
    background-color: #0e131b;
    text-align: center;
    padding: 13px 0;
}

header h1 {
    font-size: 4rem;
    color: #93ffa1;
}

header p {
    font-size: 2rem;
    color: #1f2c38;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;
}

/* caja */

.contenedor {
    width: 300px;
    min-width: 320px;
    height: auto;
    border: 2px solid #93ffa1;
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
}

.contenedor img {
    width: 80px;
    margin: 20px 0 12px;
}

.contenedor h2 {
    font-size: 1.8rem;
    color: #599876;
    margin-bottom: 18px;
}

.contenedor__input label{
    font-size: 1.5rem;
    color: #599876;
    padding-right: 5px;
}

.contenedor__input input {
    cursor: text;
    outline: none;
    width: 150px;
    height: 30px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #599876;
    color: #599876;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor__input button {
    cursor: pointer;
    height: 30px;
    text-decoration: none;
    color: #93ffa1;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #599876;
    padding: 2px;
}

.contenedor__input button:hover {
    background-color: #050a11;
}

.contenedor p {
    font-size: 1.8rem;
    color: #599876;
}