* {
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
}

html {
    font-size: 62.5%;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #1f2c38;
}

header {
    background-color: #0e131b;
    text-align: center;
    padding: 13px 0;
}

header h1 {
    font-size: 4rem;
    color: #93ffa1;
}

header p {
    font-size: 2rem;
    color: #1f2c38;
}

main {
    text-align: center;
}

section a {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    padding: 10px 0;
    width: 350px;
    font-size: 2rem;
    color: #599876;
    text-decoration: none;
    /*border: 1px solid #93ffa1;*/
    border-radius: 34px;
    background-color: #0e131b;
}
section a:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #93ffa1;
    transition: all .3s;
}
section a:hover::before {
    width: 100%;
    left: 0;
}